# Hub 모드는 여러 Markdown 워크스페이스가 들어 있는 허용된 상위 폴더 하나를 마운트합니다.
MARKDOWN_MCP_MODE=hub
MARKDOWN_MOUNT_SOURCE=C:/Users/you/Documents/ProjectCode
MARKDOWN_PUBLIC_PATH=C:/Users/you/Documents/ProjectCode
MARKDOWN_MCP_DISCOVERY_MAX_DEPTH=4
MARKDOWN_MCP_DISCOVERY_TTL_SECONDS=15
MCP_PORT=8811
